@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-clip {
  clip-path: polygon(calc(100% - 30.0000px) 100%,30.0000px  100%,30.0000px  100%,29.6082px  calc(100% - 4.8738px),28.4736px  calc(100% - 9.4944px),26.6574px  calc(100% - 13.8006px),24.2208px  calc(100% - 17.7312px),21.2250px  calc(100% - 21.2250px),17.7312px  calc(100% - 24.2208px),13.8006px  calc(100% - 26.6574px),9.4944px  calc(100% - 28.4736px),4.8738px  calc(100% - 29.6082px),0.0000px  calc(100% - 30.0000px),0.0000px  30.0000px ,0.0000px  30.0000px ,4.8738px  29.6082px ,9.4944px  28.4736px ,13.8006px  26.6574px ,17.7312px  24.2208px ,21.2250px  21.2250px ,24.2208px  17.7312px ,26.6574px  13.8006px ,28.4736px  9.4944px ,29.6082px  4.8738px ,30.0000px  0.0000px ,calc(100% - 30.0000px) 0.0000px ,calc(100% - 30.0000px) 0.0000px ,calc(100% - 29.6082px) 4.8738px ,calc(100% - 28.4736px) 9.4944px ,calc(100% - 26.6574px) 13.8006px ,calc(100% - 24.2208px) 17.7312px ,calc(100% - 21.2250px) 21.2250px ,calc(100% - 17.7312px) 24.2208px ,calc(100% - 13.8006px) 26.6574px ,calc(100% - 9.4944px) 28.4736px ,calc(100% - 4.8738px) 29.6082px ,calc(100% - 0.0000px) 30.0000px ,100% calc(100% - 30.0000px),100% calc(100% - 30.0000px),calc(100% - 4.8738px) calc(100% - 29.6082px),calc(100% - 9.4944px) calc(100% - 28.4736px),calc(100% - 13.8006px) calc(100% - 26.6574px),calc(100% - 17.7312px) calc(100% - 24.2208px),calc(100% - 21.2250px) calc(100% - 21.2250px),calc(100% - 24.2208px) calc(100% - 17.7312px),calc(100% - 26.6574px) calc(100% - 13.8006px),calc(100% - 28.4736px) calc(100% - 9.4944px),calc(100% - 29.6082px) calc(100% - 4.8738px),calc(100% - 30.0000px) calc(100% - 0.0000px)); 

}

  .clip-board{
  clip-path: polygon(100% 30.0000px ,100% calc(100% - 30.0000px),100% calc(100% - 30.0000px),calc(100% - 0.3945px) calc(100% - 25.1505px),calc(100% - 1.5360px) calc(100% - 20.5440px),calc(100% - 3.3615px) calc(100% - 16.2435px),calc(100% - 5.8080px) calc(100% - 12.3120px),calc(100% - 8.8125px) calc(100% - 8.8125px),calc(100% - 12.3120px) calc(100% - 5.8080px),calc(100% - 16.2435px) calc(100% - 3.3615px),calc(100% - 20.5440px) calc(100% - 1.5360px),calc(100% - 25.1505px) calc(100% - 0.3945px),calc(100% - 30.0000px) calc(100% - 0.0000px),30.0000px  100%,30.0000px  100%,25.1505px  calc(100% - 0.3945px),20.5440px  calc(100% - 1.5360px),16.2435px  calc(100% - 3.3615px),12.3120px  calc(100% - 5.8080px),8.8125px  calc(100% - 8.8125px),5.8080px  calc(100% - 12.3120px),3.3615px  calc(100% - 16.2435px),1.5360px  calc(100% - 20.5440px),0.3945px  calc(100% - 25.1505px),0.0000px  calc(100% - 30.0000px),0.0000px  30.0000px ,0.0000px  30.0000px ,0.3945px  25.1505px ,1.5360px  20.5440px ,3.3615px  16.2435px ,5.8080px  12.3120px ,8.8125px  8.8125px ,12.3120px  5.8080px ,16.2435px  3.3615px ,20.5440px  1.5360px ,25.1505px  0.3945px ,30.0000px  0.0000px ,calc(50% - 90.0000px) 0.0000px ,calc(50% - 90.0000px) 0.0000px ,calc(50% - 87.5631px) 0.1986px ,calc(50% - 85.2528px) 0.7728px ,calc(50% - 83.0997px) 1.6902px ,calc(50% - 81.1344px) 2.9184px ,calc(50% - 79.3875px) 4.4250px ,calc(50% - 77.8896px) 6.1776px ,calc(50% - 76.6713px) 8.1438px ,calc(50% - 75.7632px) 10.2912px ,calc(50% - 75.1959px) 12.5874px ,calc(50% - 75.0000px) 15.0000px ,calc(50% - 75.0000px) 35.0000px ,calc(50% - 75.0000px) 35.0000px ,calc(50% - 74.8014px) 37.4369px ,calc(50% - 74.2272px) 39.7472px ,calc(50% - 73.3098px) 41.9003px ,calc(50% - 72.0816px) 43.8656px ,calc(50% - 70.5750px) 45.6125px ,calc(50% - 68.8224px) 47.1104px ,calc(50% - 66.8562px) 48.3287px ,calc(50% - 64.7088px) 49.2368px ,calc(50% - 62.4126px) 49.8041px ,calc(50% - 60.0000px) 50.0000px ,calc(50% + 60.0000px) 50.0000px ,calc(50% + 60.0000px) 50.0000px ,calc(50% + 62.4369px) 49.8014px ,calc(50% + 64.7472px) 49.2272px ,calc(50% + 66.9003px) 48.3098px ,calc(50% + 68.8656px) 47.0816px ,calc(50% + 70.6125px) 45.5750px ,calc(50% + 72.1104px) 43.8224px ,calc(50% + 73.3287px) 41.8562px ,calc(50% + 74.2368px) 39.7088px ,calc(50% + 74.8041px) 37.4126px ,calc(50% + 75.0000px) 35.0000px ,calc(50% + 75.0000px) 15.0000px ,calc(50% + 75.0000px) 15.0000px ,calc(50% + 75.1986px) 12.5631px ,calc(50% + 75.7728px) 10.2528px ,calc(50% + 76.6902px) 8.0997px ,calc(50% + 77.9184px) 6.1344px ,calc(50% + 79.4250px) 4.3875px ,calc(50% + 81.1776px) 2.8896px ,calc(50% + 83.1438px) 1.6713px ,calc(50% + 85.2912px) 0.7632px ,calc(50% + 87.5874px) 0.1959px ,calc(50% + 90.0000px) 0.0000px ,calc(100% - 30.0000px) 0.0000px ,calc(100% - 30.0000px) 0.0000px ,calc(100% - 25.1505px) 0.3945px ,calc(100% - 20.5440px) 1.5360px ,calc(100% - 16.2435px) 3.3615px ,calc(100% - 12.3120px) 5.8080px ,calc(100% - 8.8125px) 8.8125px ,calc(100% - 5.8080px) 12.3120px ,calc(100% - 3.3615px) 16.2435px ,calc(100% - 1.5360px) 20.5440px ,calc(100% - 0.3945px) 25.1505px ,calc(100% - 0.0000px) 30.0000px ); 
  
  }

  .clip-ask{

clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 85% 87%, 84% 100%, 49% 91%, 0 91%);  }

.clip-round{
clip-path: circle(60.6% at 50% 50%);
}

.clip-rabet{
clip-path: polygon(0% 0%, 87% 14%, 100% 75%, 75% 75%, 100% 100%, 50% 75%, 10% 66%);
}

.clip-round{
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)
}

.clip-portfolio{
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.clip-arrow{
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.clip-arrow-left{
clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.clip-angled{
clip-path: polygon(20% 0%, 94% 0, 100% 20%, 100% 100%, 80% 100%, 5% 100%, 0% 80%, 0 0);
}

.clip-angled-both{
clip-path: polygon(0% 20%, 2% 0, 97% 0, 100% 50%, 98% 100%, 2% 100%, 0% 80%);
}
.clip-polygon-left{
clip-path: polygon(20% 11%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 25% 89%, 0% 50%);
}
.clip-polygon-right{
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
       .generate-text-box {
      display: inline-block;
      padding: 7px;
      color: #fff;
      cursor: pointer;
      position: relative;
    }

    .text-box-container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 500px; /* Adjust the width as needed */
      padding: 10px;
      background-color: #2dcaf1; /* Match the button color or change it */
      color: #fff;
      display: none;
      z-index: 1;
      transition: visibility 0s, opacity 0.3s linear;
      border: 2px solid rgb(21, 215, 241); /* Start with a transparent border */
      animation: borderAnimation 0.90s ease-out;

    }

    .generate-text-box:hover .text-box-container {
      display: block;
    }


@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-lg font-extralight;
  }
  a {
    @apply text-cyan-400;
  }

  alertBox{
    @apply bg-red-500 text-white p-4 rounded-lg;
  }
}



@layer utilities {
  .post-content p{
@apply pb-3 leading-loose;
  }
  .post-content table{
  @apply pr-10 leading-relaxed mr-10
  }
  .post-content a{
  @apply text-cyan-500 hover:text-sky-600;
  
  }
  .post-content h1{
    @apply text-5xl font-bold;
  }

  .post-content h2{
    @apply text-3xl font-bold mb-5;
  }

  .post-content h3{
    @apply text-2xl font-semibold mb-2 text-slate-600;
  }

  .post-content h4{
    @apply text-lg font-light;
  }
  .post-content ul{
    @apply list-disc leading-tight tracking-tight list-inside bg-blend-luminosity pb-4 pt-2 pl-20 text-base text-slate-600 rounded-2xl ;
  } 

  .post-content ol{
    @apply list-decimal leading-tight tracking-tight list-inside pb-4 rounded-2xl text-base text-slate-600;
  }

  .post-content li{
    @apply pb-5 pl-20 bg-slate-50;
  }

  .post-content figure {
  @apply pb-4;
  
  }

  .post-content figure figcaption {
  @apply text-sm text-gray-500;
  }

  .post-content code {
  @apply text-sm text-lime-500 text-center px-20 bg-slate-500 rounded-full;
  }

  .post-content pre {
  @apply text-sm text-gray-500 pl-20;
  }

  .post-content blockquote {
  @apply text-lg text-slate-700 font-extralight italic list-inside px-5 rounded-2xl bg-cyan-50 pt-3 mx-20;
  }

  .post-content italic {
  @apply text-sm text-slate-100 bg-slate-500 rounded-2xl px-2;
  
  
  }

  .post-content strong {
  @apply text-lg font-bold text-gray-500;
  }

  .post-content img {
  @apply rounded-lg;
  }

  .post-content bold {
  @apply font-semibold text-slate-500;
  
  }
  
  .post-content inline-code{
  
  @apply text-sm text-lime-500 pl-20;
  } 

  .post-content hr{
  @apply border-gray-500 border-2 my-4;
  }

  .contact-form label{
    @apply block w-full mb-4;
  
  }
.contact-form input{  
  @apply block w-full mb-2 p-2 border border-gray-500 rounded-lg;
}
.contact-form textarea{
  @apply block w-full mb-2 px-2 border border-gray-500 rounded-lg;
}
.contact-form button{
  @apply block w-[20vh] justify-center align-middle mx-auto mb-2 p-2 border border-cyan-500 rounded-lg bg-cyan-400 text-white pb-2;
}
  }

 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
  .bgSvg{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(134,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(197,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-142.8 10.799999999999999) rotate(0.9000000000000004 1409 581) scale(0.9412780000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-163.5 105) rotate(12 800 450) scale(1.0133729999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(32.099999999999994 -139.5) rotate(100.5 401 736) scale(1.0133729999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(630 -3) rotate(0.75 150 345) scale(0.970426)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-205.5 -282) rotate(97.19999999999999 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-411.6 116.4) rotate(16.200000000000003 1400 132) scale(0.805)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 } 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}